<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
  <mapper namespace='trainingapp.training.mapper.AcheteurMapper'>
  
  	<resultMap type="trainingapp.training.entite.Acheteur" id="AcheteurResult">
  		<id property="id" column="ach_id"/>
  		<result property="prenom" column="ach_prenom"/>
  		<result property="nom" column="ach_nom"/>
  		<result property="dateNaissance" column="ach_date_naissance"/>
  		<result property="usrId" column="ach_usr_id"/>
  	</resultMap>
  
  
  	<select id="getAcheteurByUtilisateurLogin" resultMap="AcheteurResult">
		SELECT ach_id, ach_prenom, ach_nom, ach_date_naissance, ach_usr_id
		FROM ACHETEUR INNER JOIN UTILISATEUR ON (ACHETEUR.ach_usr_id =
		UTILISATEUR.usr_id)
		WHERE usr_login=#{login}
	</select>
	
	<insert id="createAcheteur" useGeneratedKeys="true">
		insert into ACHETEUR (ach_usr_id, ach_prenom, ach_nom, ach_date_naissance)
		values (#{usrId}, #{prenom}, #{nom}, #{dateNaissance})
	</insert>
  
  </mapper>