<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
  <mapper namespace='trainingapp.training.mapper.VendeurMapper'>
  
  	<resultMap type="trainingapp.training.entite.Vendeur" id="VendeurResult">
  		<id property="id" column="ven_id"/>
  		<result property="nomEntreprise" column="ven_nom_entreprise"/>
  		<result property="usrId" column="ven_usr_id"/>

  		
<!--   		<association property="usrId" column="ven_usr_id" select="trainingapp.training.mapper.UtilisateurMapper.getUtilisateurById"/> -->
  	</resultMap>
  	
  	<select id="getVendeurById" resultMap="VendeurResult" parameterType="Integer">
  		SELECT *
  		FROM VENDEUR
  		WHERE ven_id = #{id}
  	</select>
  
  
  </mapper>